{% extends 'base.html' %}

{% block heading %}
<div class="page-heading">
  <h1>{{ page.title }}</h1>
  <h2 class="subheading">{{ page.summary }}</h2>
</div>
{% endblock %}

{% block main %}
  <div class="content">
    {{ page.content|safe }}
  </div>
  <ul class="tags">
    {% for tag in page.tags %}
    <li><a href="{{ tag.url }}">#{{ tag.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block image %}{% if page.image %}{{ page.image }}{% else %}/static/img/home-bg.jpg{% endif %}{% endblock %}
